body{
    background:#f5f7fb;
    font-family:Inter,sans-serif;
}

.container{
    width:700px;
    margin:auto;
    margin-top:30px;
    background:white;
    padding:30px;
    border-radius:10px;
}

.form{
    display:flex;
    flex-direction:column;
}

input,
select,
textarea{

margin-bottom:15px;

padding:10px;

font-size:16px;
}

button{

padding:12px;

background:#2563eb;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

margin-top:10px;

}